.App {
  text-align: center;
  position: relative;
}

.App-header {
  padding-top: 1.5rem;
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-header h3 {
  margin-top: 15px;
  color: #101828;
  font-weight: 700;
  font-size: 20px;
}

.App-header h5 {
  margin-top: 1px;
  display: none;
}

.menu-btn {
  display: none;
}

.share-btn {
  cursor: pointer;
  position: absolute;
  z-index: 99;
  right: 390px;
  top: 30px;
}

.profile-pics {
  margin-top: 2rem;
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 50%;
}

.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1.2rem;
  margin-bottom: 2rem;
}

.links a {
  color: #101828;
  text-decoration: none;
  background-color: #eaecf0;
  display: block;
  font-size: 18px;
  font-weight: 500;
  padding: 24px 32px;
  border-radius: 8px;
  margin-bottom: 1.3rem;
}

.links a:hover {
  background-color: #d6d7da;
  transition: all ease-out 200ms;
}

.social-icons {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.social-icons img {
  margin: 0 0.6rem 5rem 0.6rem;
}

/* Spinner Loader */
.loader-bg {
  background: #fff;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 0.7s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 3.5px #4c4c4d;
  border-bottom-color: #fff;
  border-radius: 50%;
  content: '';
  height: 20px;
  width: 20px;
  position: absolute;
  zoom: 0.8;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

/* Contact page */
.contact-form {
  padding-top: 2rem;
  padding-bottom: 9rem;
  width: 55%;
  margin: auto;
}

.contact-form h1 {
  color: #101828;
  font-size: 36px;
  font-weight: 600;
}

.contact-form p {
  line-height: 30px;
  font-size: 20px;
  color: #475467;
}

input[type='text'],
input[type='email'] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  height: 44px;
  padding: 10px 14px;
  font-size: 15px;
  color: 101828;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  height: 132px;
  padding: 10px 14px;
  font-size: 15px;
  color: 101828;
  line-height: 24px;
}

input[type='text']::placeholder,
input[type='email']::placeholder,
textarea::placeholder {
  font-family: 'Inter';
  font-size: 15px;
  color: #667085;
}

input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  outline: 1px solid #84caff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.contact-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 14px;
  color: #344054;
  font-weight: 500;
}

.contact-form .form {
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.contact-form .form .flex-names {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.contact-form .form .flex-names div {
  width: 100%;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px !important;
  line-height: 24px;
  color: #475467 !important;
  font-weight: 400 !important;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 25px;
  width: 25px;
  zoom: 0.7;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  transition: all ease-in-out 100ms;
}

.checkbox-container:hover input ~ .checkmark {
  border: 1px solid #84caff;
  box-shadow: 0px 0px 0px 4px #d1e9ff;
  background-color: #fff;
}

.checkbox-container .checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark {
  border: 2px solid #1570ef;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
  color: #1570ef;
  border-color: #1570ef;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.submit-btn {
  font-family: 'Inter';
  background-color: #1570ef;
  cursor: pointer;
  padding: 12px 20px;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border: none;
  border-radius: 8px;
  transition: all ease 150ms;
}

.submit-btn:hover {
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}

.submit-btn:focus {
  background: #b2ddff;
  border: 1px solid #b2ddff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

/* End of contact page */

.footer {
  width: 85%;
  border-top: 1px solid #eaecf0;
  padding: 1.3rem 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer p {
  color: #667085;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .App-header {
    width: 90%;
  }

  .App-header h3 {
    font-size: 18px;
  }

  .links a {
    font-size: 14px;
  }

  .footer {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer p {
    font-size: 14px;
  }

  .footer img {
    zoom: 0.7;
  }

  .share-btn {
    display: none;
  }

  .menu-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    right: 7px;
    top: 30px;
  }

  .contact-form {
    width: 90%;
    padding-bottom: 5rem;
  }

  .contact-form p {
    font-size: 18px;
  }

  .checkbox-container {
    font-size: 15px !important;
  }

  .checkbox-container .checkmark {
    top: 5px;
  }

  .contact-form .form .flex-names {
    flex-direction: column;
    gap: 1.4rem;
  }

  input[type='text'],
  input[type='email'],
  textarea {
    padding: 10px;
  }
}
